---
pageable: true
---
- page_articles.each_with_index do |article, i|
  %h2= link_to article.title, article
  %p.well
    Posted:
    = article.date.strftime('%Y-%m-%d')
    - article.tags.each do |tag|
      |
      = link_to tag, tag_path(tag)
    %br
    %a{ :href => "#{url_for(article)}#disqus_thread"}
  = article.body

- if paginate
  %ul.pagination
    %li{:class => prev_page ? "" : "disabled"}
      - if prev_page
        =link_to "Prev", prev_page.url
      - else
        %span Prev
    - (page_number - 2 .. page_number + 2).select{|i| i > 0 && i <= num_pages}.each do |i|
      - if i == page_number
        %li.active
          %span= i
      - else
        %li
          - p = nil
          - (i ... page_number).each do p = p ? p.metadata[:locals]['prev_page'] : prev_page; end
          - (page_number ... i).each do p = p ? p.metadata[:locals]['next_page'] : next_page; end
          =link_to "#{i}", p && p.url
    %li{:class => next_page ? "" : "disabled"}
      - if next_page
        =link_to "Next", next_page.url
      - else
        %span Next

%script(src="/javascripts/disqus-links.js")