---
layout: false
directory_index: false
---
<?xml version="1.0" encoding="UTF-8"?>
%urlset{ :xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9" }
  - blog.articles.each do |p|
    %url
      %loc= "http://www.chrissearle.org/#{p.destination_path.gsub('/index.html','')}"
      %priority
        0.6
      %lastmod= p.date.iso8601
  - blog.tags.each do |tag, articles|
    %url
      %loc= "http://www.chrissearle.org#{tag_path(tag)}"
      %priority
        0.7
  - sitemap.resources.find_all{|p| p.source_file.match(/\.html/) && !p.source_file.match(/blog/) && !p.destination_path.match(/page/) && !p.destination_path.match(/^\d\d/)  && !p.source_file.match(/tag.html/)}.each do |p|
    %url
      - if (p.destination_path == 'index.html')
        %loc= "http://www.chrissearle.org/"
        %priority
          1.0
      - else
        %loc= "http://www.chrissearle.org/#{p.destination_path.gsub('/index.html','')}"
        %priority
          0.5
      %lastmod= File.mtime(p.source_file).iso8601
